.footer {
  padding: 60px 80px;
  background-color: #d35722;
  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.circle {
  background-color: #e96e3a;
  position: absolute;

  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: 0;

  top: -128px;
  left: -44px;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__title {
  display: flex;
  margin: 0px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 16px;
  margin: 0px;
  padding: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__socials li {
  display: flex;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  color: #ffd6c5;
}

.footer__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  flex-basis: 100%;
  z-index: 1;
  margin: 0px;
  margin-top: 108px;
}
